@import url("styles/header.css");
:root {
    --cor-de-fundo:#EBECEE;
    --branco:#FFFFFF;
}
body {
    background-color: var(--cor-de-fundo);
}

.cabeçalho__menu-hamburguer {
width:24px;
height:24px;
background-image: url("../2-TRIMESTRE-main/img/menu_black_24dp\ 1.png");
display: inline-block;

}




